
.header-wrapper {
  width: 100%;
  background-color: white; /* Enforce solid color white */
  position: relative;
}

.header-wrapper .nav-wrapper {
  background-color: white; /* Ensure the background is white */
  width: 100%;
  z-index: 2;
  position: fixed; /* Fix the position of the nav-wrapper */
  display: flex;
  justify-content: space-between; /* Distribute space between elements */
  align-items: center;
  top: 0;
  left: 0;
  padding: 10px 24px; /* Adjust padding as needed */
}

/* Flex container for the brand logo, navigation links, and tools */
.header-wrapper nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1264px;
  font-family: var(--body-font-family);
}

/* Set the brand logo section to flex */
.header-wrapper nav .nav-brand {
  order: 1;
  display: flex;
  align-items: center;
  padding-right: 20px;
  border-right: 1px solid #e0e0e0;
}

.header-wrapper nav .nav-brand img {
  width: 50px;
  height: auto;
  object-fit: contain; /* Ensure the image is not stretched */
}

/* Set the nav sections to be flex and distribute space evenly */
.header-wrapper nav .nav-sections {
  order: 2;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the navigation links */
  gap: 24px;
  flex-grow: 1;
}

.header-wrapper nav .nav-sections ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  margin: 0;
  gap: 24px;
  align-items: center;
}

.header-wrapper nav .nav-sections ul li {
  font-weight: 500;
  position: relative;
}

.header-wrapper nav .nav-sections ul li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-wrapper nav .nav-sections ul li:hover ul {
  display: block;
}

/* Flex container for the tools section (search and country select) */
.header-wrapper nav .nav-tools {
  order: 3;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-left: 1px solid #e0e0e0;
  margin-left: auto; /* Push tools section to the far right */
}

/* Set the content inside nav-tools to be side by side */
.header-wrapper nav .nav-tools p {
  display: flex;
  align-items: center;
  margin-left: 10px;
  white-space: nowrap;
}

.header-wrapper nav .nav-tools p:first-child {
  margin-right: 20px; /* Additional space between search and select country */
}

/* Ensure text color is black */
.header-wrapper nav .nav-sections a, .header-wrapper nav .nav-tools p {
  color: black; /* Change text color to black */
}

/* Hide the hamburger menu */
.header-wrapper nav .nav-hamburger {
  display: none;
  visibility: hidden;
}

/* Ensure proper spacing between elements */
.header-wrapper .nav-wrapper {
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  max-width: 1264px;
}

header {
  display: flex;
}
