
.header-wrapper .nav-wrapper {
  background-color: white;
  width: 100%;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

.header-wrapper nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1264px;
  padding: 0 24px;
  font-family: var(--body-font-family);
  height: var(--nav-height);
}

.header-wrapper nav .nav-brand {
  order: 1;
  display: flex;
  align-items: center;
  padding-right: 20px;
  border-right: 1px solid #e0e0e0;
}

.header-wrapper nav .nav-brand img {
  width: 50px;
  height: auto;
  object-fit: contain;
}

.header-wrapper nav .nav-sections {
  order: 2;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  gap: 24px;
  white-space: nowrap;
}

.header-wrapper nav .nav-sections ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  margin: 0;
  gap: 24px;
  align-items: center;
}

.header-wrapper nav .nav-sections ul li {
  font-weight: 500;
  position: relative;
}

.header-wrapper nav .nav-sections ul li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-wrapper nav .nav-sections ul li:hover ul {
  display: block;
}

.header-wrapper nav .nav-tools {
  order: 3;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-left: 1px solid #e0e0e0;
}

.header-wrapper nav .nav-tools p {
  display: flex;
  align-items: center;
  margin-left: 10px;
  white-space: nowrap;
}

.header-wrapper nav .nav-hamburger {
  display: none;
  visibility: hidden;
}

.header-wrapper .nav-wrapper {
  justify-content: center;
  align-items: center;
}

header nav {
  display: flex;
  max-width: 1264px;
}

header {
  display: flex;
}
